// _variables.scss - This file has all our variables
////////////////////////////////////////////////

// Colors
$tufts:						#437CBC;
$havelock:				#5193DE;
$corn:						#E9C900;


$black:   	      #000000;
$white:						#ffffff;