// partials/_partials - This is one partial file
////////////////////////////////////////////////

// Global page styles
body{
	color: $white;
	background-color: $tufts;
	background-size: cover;
  background-image   : linear-gradient(to right, rgba(30, 75, 115, 1),  rgba(#000, 0.5)),
                       url(./img/bgs/bg.jpg);

  background-repeat  : no-repeat,
                       no-repeat;

  background-position: bottom right,
                       center;
}


// Page wrapper settings
section{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


// Main content box
section div{
	background: $havelock;
	padding: rem-calc(20);
	a{
		text-decoration: none;
		color: $corn;
		&:hover{
			color: darken($corn, 5%);
		}
	}
}

